{% extends "base.html" %}
{% block content %}
<style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            background-color: #f9f9f9;
            color: #333;
        }
        .container {
            max-width: 1000px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

    </style>
<div class="container">
    <h2 style="text-align: center;">Signup</h2>
    <div style="background-color: #f2f5c9; padding: 20px; border-radius:
    10px;text-align: justify;">
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Signup</button>
</form>
    </div>
</div>
{% endblock %}
